/* heigth e width não afetam elementos INLINE*/

/*
DIV -> Block
SPAN -> Inline
*/

span {
    border: solid 1px black;
    height: 100px;
    width: 300px;
    display: inline-block;
}

/*Inline-Block -> Admite altura e largura e admite elementos ao lado*/





