#div1, #div2 {
    height: 140px;
    width: 140px;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

#div1 {
    background-color: beige;
    float: left;
    margin-right: 10px;
}

#div2 {
    background-color: lightcoral;
    float: right;
    margin-left: 10px;
}

p {
    text-align: justify;
    clear: both;
}

#divPai {
        font-size: 12px;
        background-color: bisque;
        overflow: hidden;
}
